@import './styles/abstracts/variables';
@import './styles/abstracts/mixins';

@import './styles/base/typography';
@import './styles/base/reset';
@import './styles/base/common';

@import './styles/blocks/hero-block';
@import './styles/blocks/get-in-touch-block';
@import './styles/blocks/make-brand-algorythm-block';
@import './styles/blocks/recent-projects';
@import './styles/blocks/out-team-block';
@import './styles/blocks/review-block';
@import './styles/blocks/in-touch-info-block';
@import './styles/blocks/contact-form-block';

@import './styles/components/buttons';

@import './styles/layout/header';
@import './styles/layout/wrapper';
@import './styles/layout/content-wrapper';