@import '../abstracts/variables';
@import '../components/buttons';

.contact-form-block {
    padding: 69px 0;
    background-color: $after-element-bg;

    .contact-form {
        max-width: 564px;
        margin: 0 auto;
        padding-bottom: 22px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;

        .label {
            &-name,
            &-email,
            &-budget{
                width: 100%;
                display: flex;

                .input-item {
                    width: 100%;
                    padding: 18px 0 17px 31px;
                    font-family: 'Vollkorn', sans-serif;
                    font-size: clamp(0.75rem, 10vw, 0.9375rem);
                    font-style: italic;
                    font-weight: 400;
                    line-height: 22px;
                    letter-spacing: 0em;
                    border: none;
                    color: $font-color1;
                }
            }
        }

        label:nth-child(odd) {
            input {
                background-color: rgba(255, 255, 255, 0.18);
            }
        }

        label:nth-child(even) {
            input {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }

        .textarea-container{
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: 'Vollkorn', sans-serif;

            .textarea-field {
                margin-bottom: 22px;
                width: inherit;
                resize: none;
                background-color: rgba(255, 255, 255, 0.2);
                border: none;
                padding: 18px 0 17px 31px;
                color: $font-color1;
                font-size: clamp(0.75rem, 10vw, 0.9375rem);
            }
        }
    }

    .image-container {
        width: 43px;
        height: 46px;
        margin: 0 auto;
        margin-bottom: 14px;
    }

    .text-content {
        color: $font-color1;
        font-size: clamp(0.75rem, 10vw, 0.9375rem);
        opacity: 0.4;
        font-style: normal;
        line-height: 22px;
        text-align: center;
    }
}