@import '../abstracts/variables';
@import '../abstracts/mixins';
@import '../components/buttons';

.get-in-touch-block {
    background-color: $background;
    color: $font-color;
    font-family: 'Vollrorn', sans-serif;
    min-height: 279px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .image-container{
        position: absolute;
        top: -27px;
        left: 48%;
        width: 52px;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;

        .image-item{
            width: 100%;
        }
    }
}

.get-in-touch__text-item {
    font-size: clamp(.75rem, 10vw, 1.125rem);
    text-align: center;
    line-height: 25px;
    margin-bottom: 39px;
    font-family: 'Vollkorn', sans-serif;
    line-height: 25px;
    font-weight: 400;
}

.element-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
