@import '../variables/index.scss';

.hero-block{
    background-image: url('../../images/bg-hero.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 391px;
}
.hero-title, 
.hero-sub-title{
    font-family: 'Montserrat', sans-serif;
    color: $font-color1;
    text-align: center;
}

.hero-title{
    font-size: clamp( 18px, 10vw, 44px);
    max-width: 672px;
    margin: 0 auto ;
    padding: 105px 0 28px;
    position: relative;

    &:after{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        content: '';
        width: 80px;
        height: 2px;
        background-color: $font-color1;
    }
}

.hero-sub-title{
    font-size: clamp(12px, 10vw, 15px);
    margin-top: 25px;
}