@import '../abstracts/variables';

.in-touch-info-block{
    background-image: url('../../images/in-touch-bg.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 79px 0 69px;

    .block-title{
        margin-bottom: 43px;
    }

    .cards-container{
        display: flex;
        justify-content: center;
    }
    
    .card-item{
        max-width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image-container{
        height: 60px;
        display: flex;
        justify-content: center;
        margin-bottom: 26px;
    }

    .card__title{
        margin-bottom: 20px;
        text-align: center;
        text-transform: uppercase;
        font-family: 'Montserrat' sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px clamp(.875rem ,10vw, 1rem);
        line-height: 20px;
        color: $font-color;
    }

    .text-content{
        &.social-links{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .address, 
        .address-location{
            display: flex;
            flex-direction: column;
            font-family: 'Vollkorn', sans-serif;
            font-size: clam(.875rem, 10vw, 1.0625rem);

            .text{
                max-width: 178px;
                width: 100%;
                text-align: center;
                line-height: 22px;

                &__link{
                    color: $font-color;
                }
            }
        }

        .social-icon-link{
            color: $font-color;
            font-family: 'Vollkorn', sans-serif;

            &:not(last-child){
                margin-bottom: 11px;
            }
        }
    }
}

