@import '../abstracts/variables';
@import '../abstracts/placeholder';

.team-block {
    padding-top: 69px;
    
    .cards-container{
        padding: 43px 0 90px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social-icons{
        display: flex;
    }

    .icon-container{
        display: flex;
    }
}

.block-title {
    text-transform: uppercase;
    padding-top: 10px;
    @extend %block-title-element;

    &:after {
        @extend %after-element;
        background: $after-element-bg;
    }
}