@import '../abstracts/variables';
@import '../abstracts/placeholder';

.team-block {
    padding-top: 69px;
    
    .cards-container{
        padding: 43px 0 90px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .card-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social-icons{
        display: flex;
    }

    .icon-container{
        display: flex;
    }
    
    .icon-link{
        width: 29px;
        height: 14px;
        background-color: $background1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 6px;

        &:hover{
            @extend %link-hover-effect;
        }
    }
}
