@import '../abstracts/_placeholder';
@import '../abstracts/variables';

.recent-projects-block {
    padding:69px 0 89px;
    background: $background1;

    .cards-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding-top: 43px;
    }

    .card-item{
        cursor: pointer;
        
        &:hover{
            @extend %link-hover-effect;
            transition: all .3s ease-in;
        }
    }
    
    .image-container{
        display: flex;
        width: 100%;

        .image-item{
            width: 100%;
        }
    }
}