%after-element {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 80px;
    height: 2px;
    opacity: .09;
}

%block-title-element {
    text-align: center;
    padding-bottom: 28px;
    position: relative;
    font-family: Montserrat;
    font-size: clamp(0.875rem, 10vw, 1.4375rem);
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}