$font-color: #333333;
$font-color1: #FFFFFF;
$font-color2: #47474F;
$font-color3: rgba(171, 171, 171, .09);
$font-color4: #ABABAB;
$submit-button-color: rgba(139, 202, 195, 1);

$background: #FEFEC9;
$background1: #E5E5E5; 
$background2: #FFFFFF;

$after-element-bg: #000000;

$content-width: 1440px;
$tablet-big-width: 969px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 375px;
