$font-color: #333333;
$font-color1: #FFFFFF;
$font-color2: #47474F;
$font-color3: rgba(171, 171, 171, .09);
$font-color4: #ABABAB;

$background: #FEFEC9;
$background1: #E5E5E5; 
$background2: #FFFFFF;

$after-element-bg: #000000;
