@import '../abstracts/variables';

.button {
    &__get-in-touch,  
    &-submit{
        font-family: 'Vollkorn', sans-serif;
        font-style: italic;
        line-height: 20px;
    }

    &__get-in-touch {
        @include button($after-element-bg, 20px, 34px, $background, $after-element-bg);
    }

    &-submit {
        @include button($background2, 18px, 60px, $after-element-bg, $background2);
        
        &:hover{
            color: $after-element-bg;
        }
    }
}