html, body { 
    font-size: 16px;
    font-family: 'Montserrat','Oswald','Vollkorn', serif, sans-serif;
}

.block-title{
    @extend %block-title-element;

    &:after{
        @extend %after-element;
        background: $after-element-bg;
    }
}

.text-block{
    background-color: $background2;
    padding: 19px 0 21px;
    
    .card__title,
    .card__sub-title{
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        font-style: normal;
    }

    .card__title{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-bottom: 4px;
    }

    .card__sub-title{
        font-family: 'Vollkorn', sans-serif;
        font-size: 14px;
    }
}